html {
	margin-top: 50px;
	padding: 10px;
	// scroll-behavior: smooth;
	background: #949eff; /* Old browsers */
	background: -moz-linear-gradient(top,  #949eff 0%, #65d9eb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #949eff 0%,#65d9eb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #949eff 0%,#65d9eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949eff', endColorstr='#65d9eb',GradientType=0 ); /* IE6-9 */
}
body {
	line-height: 1.5;
	min-width: 1050px;
	font-size: $font-size-pc;
	font-family: $gothic;
	background: $base-color;
	color: $txt-main;
	word-wrap: break-word;
	letter-spacing: 0.05em;
	@include media(sp) {
		margin-bottom: 90px;
		min-width: 320px;
		font-size: $font-size-sp;
		-webkit-text-size-adjust: 100%;
	}
}

* {
	box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

//JSと連動し、キーボード操作時のみoutlineを表示
[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus {
	outline: none;
}

table a {
	word-break: break-all;
}

br {letter-spacing: 0;}

a {
	color: $link-color;
	text-decoration: none;
	transition: $transition;
	&:hover {/*マウスをのせたとき*/
		color: $link-hover;
		text-decoration: underline;
	}
	&:active {/*マウスを押したとき*/
		color: $link-active;
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}



/*************** Page Top ***************/
.go-top {
	position: fixed;
	z-index: 100000;
	bottom: 80px;
	right: 20px;
	@include media(sp) {
		bottom: 100px;
		right: 10px;
	}
}
.go-top a {
	overflow: hidden;
	white-space: nowrap;
	text-indent: -99999px;
	display: block;
	position: relative;
	width: 60px;
	height: 60px;
	border: 1px solid $main-color;
	border-radius: 50%;
	background: rgba(#ffffff, 0.8);
	box-shadow: 0 0 5px rgba(#000000, 0.2);
	text-align: center;
	text-decoration: none;
	@include media(sp) {
		width: 45px;
		height: 45px;
	}
	&:before {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -5px;
		margin-left: -10px;
		width: 20px;
		height: 20px;
		border-right: 2px solid $main-color;
		border-bottom: 2px solid $main-color;
		transform: rotate(225deg);
	}
	&:hover {
		background: rgba($main-color, 0.8);
		text-decoration: none;
		&:before {
			border-right-color: #ffffff;
			border-bottom-color: #ffffff;
		}
	}
}


.l-all {
	&.is-fixed {
		margin-top: 50px;
		transition: $transition;
	}
}

.l-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 990px;
	@include media(sp) {
		width: auto;
	}
}
.l-container-s {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 780px;
	@include media(sp) {
		width: auto;
	}
}


.l-contents {
	padding-top: 90px;
	padding-bottom: 90px;
	border-bottom: 1px solid $accent-color;
}
.l-contents-in {
	margin-top: 90px;
}

