/*********************************************/
/* Components title */
/*********************************************/
.c-ttl-main {
	margin-bottom: 30px;
	font-size: rem(48px);
	font-weight: 900;
	font-style: italic;
	color: #000000;
	text-align: center;
}

.c-ttl-sub {
	position: relative;
	margin-bottom: 30px;
	font-size: rem(24px);
	font-weight: bold;
	color: #000000;
}
.c-ttl-sub-s {
	position: relative;
	margin-bottom: 30px;
	font-size: rem(18px);
	font-weight: bold;
	color: #000000;
}
.c-lead {
	margin-bottom: 90px;
	font-size: rem(18px);
	line-height: $line-height;
	text-align: center;
	@include media(sp) {
		margin-bottom: 45px;
	}
}


