/*********************************************/
/* Pages works */
/*********************************************/
.p-works-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	@include media(sp) {
		display: block;
		margin-left: 0px;
		margin-right: 0px;
	}
}
.p-works-list__item {
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	width: 50%;
	@include media(sp) {
		padding-left: 0px;
		padding-right: 0px;
		width: auto;
	}
}
.p-works-list__link {
	display: block;
	overflow: hidden;
	border-radius: $radius;
	background: #ffffff;
	box-shadow: $shadow-light;
	&:hover {
		box-shadow: $shadow;
		text-decoration: none;
		transform: scale(1.02);
	}
}
.p-works-list__txt {
	padding: 20px;
	border-top: 1px solid #eeeeee;
	@include media(sp) {
		padding: 20px 15px;
	}
}
.p-works-list__ttl {
	font-size: rem(21px);
	font-weight: bold;
	color: #000000;
	@include media(sp) {
		font-size: rem(18px);
	}
}
.p-works-list__body {
	margin-top: 10px;
	color: $txt-main;
}



.p-works-main__img {
	margin-bottom: 60px;
	box-shadow: $shadow;
}
.p-works-main__ttl {
	font-size: rem(36px);
	font-weight: bold;
	@include media(sp) {
		font-size: rem(30px);
	}
}
.p-works-main__body {
	margin-top: 30px;
	margin-bottom: 60px;
	position: relative;
	// &:before {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	left: 50%;
	// 	margin-left: -60px;
	// 	width: 120px;
	// 	height: 2px;
	// 	background: $accent-color;
	// }
}
.js-md-contents {
	& h1 {
		margin-bottom: 30px;
		margin-top: 30px;
		font-size: rem(30px);
		font-weight: bold;
	}
	& h2 {
		margin-bottom: 30px;
		margin-top: 30px;
		font-size: rem(24px);
		font-weight: bold;
	}
	& h3 {
		margin-bottom: 30px;
		margin-top: 30px;
		font-size: rem(18px);
		font-weight: bold;
	}
	& p {
		margin-top: 15px;
		margin-bottom: 15px;
		line-height: $line-height;
	}
	& img {
		margin-top: 15px;
		margin-bottom: 15px;
		max-width: 100%;
		box-shadow: $shadow;
		text-align: center;
	}
	& ul {
		margin-bottom: 30px;
	}
	& li {
		display: inline-block;
		margin-right: 3px;
		margin-bottom: 5px;
		padding: 3px 10px;
		border-radius: 2px;
		font-size: rem(12px);
		background: rgba($main-color, 0.5);
	}
}


/*********************************************/
/* Pages profile */
/*********************************************/
.p-profile-intro {
	display: flex;
	flex-wrap: wrap;
	@include media(sp) {
		display: block;
	}
}
.p-profile-intro__img {
	width: 180px;
	@include media(sp) {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
	& img {
		border-radius: 50%;
	}
}
.p-profile-intro__txt {
	flex: 1;
	margin-left: 60px;
	line-height: $line-height;
	@include media(sp) {
		margin-left: 0;
	}
}
.p-profile-intro__name {
	font-weight: bold;
	font-size: rem(21px);
}
.p-profile-intro__job {
	color: $txt-sub;
}
.p-profile-intro__birth {
	color: $txt-sub;
}
.p-profile-intro__body {
	margin-top: 15px;
}




.p-history__term {
	display: inline-block;
	margin-top: 5px;
	padding: 0px 10px;
	background: #eeeeee;
	border-radius: $radius-s;
	font-size: rem(12px);
	font-weight: normal;
	color: $txt-sub;
	text-align: center;
}




.p-skill-list__item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid $border-color;
	&:first-child {
		border-top: 1px solid $border-color;
	}
}
.p-skill-list__icon {
	margin-right: 15px;
	width: 45px;
	text-align: center;
	font-size: 36px;
	color: $main-color;
	& img {
		vertical-align: middle;
	}
}
.p-skill-list__ttl {
	margin-right: 30px;
	width: 120px;
}
.p-skill-list__ttl-name {
	font-weight: bold;
}
.p-skill-list__ttl-star {
	font-size: rem(14px);
	color: #e4a600;
}
.p-skill-list__body {
	flex: 1;
	@include media(sp) {
		flex: inherit;
		margin-top: 15px;
		width: 100%;
	}
}




.p-personality-box {
	margin-bottom: 60px;
}
.p-personality-box__body {
	line-height: $line-height;
}


